<mat-card>
  <mat-card-title>Forgot Password</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>We will send you the link reset your password</p>
      <p>
        <mat-form-field>
          <input type="text" matInput [placeholder]="emailPlaceholder" formControlName="email">
        </mat-form-field>
        <app-control-messages [form]="form"
                              [control]="f.email"
                              [submitted]="isSubmitted">
        </app-control-messages>
      </p>
      <mat-button-toggle-group>
        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Send link</button>
      </mat-button-toggle-group>
    </form>
  </mat-card-content>
</mat-card>