<form [formGroup]="form">
  <div>
    <mat-form-field>
      <input type="text" matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <app-control-messages [form]="form" [control]="f.name" [submitted]="isSubmitted" [errors]="errors">
    </app-control-messages>
  </div>

  <div>
    <mat-form-field>
      <input type="text" matInput placeholder="Email" formControlName="email">
    </mat-form-field>
    <app-control-messages [form]="form" [control]="f.email" [submitted]="isSubmitted" [errors]="errors">
    </app-control-messages>
  </div>

  <div>
    <mat-form-field>
      <input type="text" matInput placeholder="Address" formControlName="address_line1">
    </mat-form-field>
    <app-control-messages [form]="form" [control]="f.address_line1" [submitted]="isSubmitted" [errors]="errors">
    </app-control-messages>
  </div>
  <div>
    <mat-form-field>
      <input type="text" matInput placeholder="City" formControlName="address_city">
    </mat-form-field>
    <app-control-messages [form]="form" [control]="f.address_city" [submitted]="isSubmitted" [errors]="errors">
    </app-control-messages>
  </div>
  <div>
    <mat-form-field>
      <input type="text" matInput placeholder="State" formControlName="address_state">
    </mat-form-field>
    <app-control-messages [form]="form" [control]="f.address_state" [submitted]="isSubmitted" [errors]="errors">
    </app-control-messages>
  </div>
  <div>
    <mat-checkbox id="auto_renew" color="primary" formControlName="auto_renew">Auto Renew</mat-checkbox>
  </div>
</form>