.reports-container {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  width: 1350px;
}

.workflow-container{
  display: flex;
  margin-top:30px;
  justify-content: space-between;
}

.workflow-stat{
  display: flex;
  justify-content: space-between;
  width: 500px;
}
